[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
pywebostv = "*"
click = "*"
gmqtt = "*"
uvloop = "*"
wakeonlan = "*"
coloraama = "*"
colorama = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
